/*=============================================
BANNER
=============================================*/

.banner{
	position: relative;
	overflow:hidden;
}

.banner .textoBanner{
	position:absolute;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.banner .textoDer{
	top:50px; 
	right:50px; 
	text-align:right;
}

.banner .textoIzq{
	top:50px; 
	left:50px; 
	text-align:left;
}

.banner .textoCentro{
	top:50px; 
	left:50%;
	width:800px; 
	margin-left: -400px;
	text-align:center;
}

.textoBanner h1{
	font-size:35px;
	line-height:25px;
}

.textoBanner h2{
	font-size:30px;
	line-height:25px;
}

.textoBanner h3{
	font-size:24px;
	line-height:25px;
}

/*=============================================
BARRA PRODUCTOS
=============================================*/

.barraProductos .organizarProductos span{
	margin-left:5px;
}

/*=============================================
VITRINA PRODUCTOS CUADRÍCULA
=============================================*/

.tituloDestacado h3{
	margin-top:-5px;
}

.tituloDestacado button span{
	margin-left:5px;
}

.productos ul li figure{
	overflow:hidden;
}

.productos ul li a img:hover{
	transition: .3s all ease;
	opacity:.8;
	transform: scale(1.1,1.1);
}

.productos ul li h4 small{
	color:rgb(190, 190, 190);
	text-transform: uppercase;
	font-size:12px;
	font-weight: 700;
	
}

.productos ul li h4 small a{
	color:rgb(124, 124, 124);
}

.productos ul li div.precio{
	padding:0;
	margin-top:-30px;
	padding-bottom:20px;
}

.productos ul li div.enlaces{
	padding:0;
	padding-bottom:20px;
}

.productos ul li div.enlaces button{
	margin:2px;
}

.productos ul li div.enlaces button i{
	color:#999;
	font-size:12px;
}

/*=============================================
VITRINA PRODUCTOS LISTA
=============================================*/
.productos ul li{
	text-align: center;
}

.productos ul li h1{
	margin-top:-10px;
}

.productos ul li h4 small{
	text-transform: uppercase;
	font-size:13px;
	font-weight: 700;
	
}

.productos ul li h1 small a{
	color:#777;
}

.oferta{
	 text-decoration:line-through;
	 color:#ccc;
	 font-size:15px;
}

.fontSize{
	font-size:12px;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.banner{
		height:260px;
	}


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.banner{
		height:260px;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.banner{
		height:180px;
	}

	.textoBanner h1{
		font-size:30px;
		line-height:15px;
	}

	.textoBanner h2{
		font-size:25px;
		line-height:15px;
	}

	.textoBanner h3{
		font-size:25px;
		line-height:15px;
	}

	.banner .textoDer, .banner .textoIzq, .banner .textoCentro{
		top:35px; 
	}


}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.banner{
		height:100px;
	}

	.banner .textoDer, .banner .textoCentro, .banner .textoIzq{
		top:7px; 
		left:50%;
		width:800px; 
		margin-left: -400px;
		text-align:center;
		text-shadow:2px 2px 20px black;
	}

	.textoBanner h1{
		font-size:20px;
		line-height:5px;
	}

	.textoBanner h2{
		font-size:20px;
		line-height:5px;
	}

	.textoBanner h3{
		font-size:15px;
		line-height:5px;
	}

	.tituloDestacado h1{
		text-align:center;
	}

	.tituloDestacado button{
		position: absolute;
		left:50%;
		width:40%;
		margin-left:-20%;

	}

	.productos ul li h1 small{
		font-size:16px;
	}

}
/*=============================================
SOMBRA DE lOS productos
=============================================*/
.sombra {
    /* Sombra normal */
    /*box-shadow: 2px 2px 10px #666;
    /* Sombra superior sin desenfoque */
	box-shadow: 0px 0px 15px rgb(201, 201, 201);
    /*Sombra interior 
    box-shadow: 5px 5px 25px #222 inset;*/
}
/*=============================================
paddding propio
=============================================*/
.paddingproducto{
	padding-top: -5px;
	padding-bottom: -5px;
	padding-left: -5px;
	padding-right: -5px;
}
/*=============================================
margin propio
=============================================*/
.marginproducto{
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
}

/*===================== popper
=================*/

#pop{
    display              : none;
    position             : sticky;
	top					 : auto;
    z-index              : 99999;
    padding              : 10px;
    background           : whitesmoke;
    border               : 0px solid #A2ADBC;
    margin               : 0px;
    -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1);
	color 				 : black;
}

/*========================== css color de text
================*/

p:hover{
	color: #00aae4;
}

/*=================
nav ul
=====*/

.mynav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
  }
  
.mynav li:not(:last-child) {
	margin-right: 20px;
  }
  
.mynav a {
	display: block;
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding: 7px 15px;
  }
  
.target {
	position: absolute;
	border-bottom: 4px solid transparent;
	z-index: -1;
	transform: translateX(-60px);
  }
  
.mynav a,.target {
	transition: all .35s ease-in-out;
  }

  
/*=================
input focus
=====*/
.container-4{
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
  }
  .container-4 input#search{
    width: 100%;
	height: 60px;
    background: #fff;
    border: none;
    font-size: 13pt;
    float: right;
    color: #535353;
    padding-left: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
	outline-width: 5px;
  	outline-color: rgb(2, 148, 68);

  }
  .container-4 input#search::-webkit-input-placeholder {
    color: #65737e;	
 }
  
 .container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  

 }
 .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #09e65e;
    opacity: 0;
    font-size: 12pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: green;
    opacity: 1;
    margin-left: -50px;
	padding-right: 15px;
	margin-right: 10px;
  }
 
  .container-4:hover button.icon:hover{
    background: rgb(255, 255, 255);
  }
    .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: green;
    opacity: 1;
    margin-left: -50px;
	padding-right: 15px;
	margin-right: 10px;
  }
 
  .container-4:hover button.icon:hover{
    background: rgb(255, 255, 255);
  }
